

<div class="cheio">
    <div class="contador">
        {{atualPessoas}}
    </div>
    <div class="pause" (pointerdown)="Pausar()">
        Pause
    </div>
    <div class="menuPause">

    </div>
    <div class="infos">
        batatatatatata
    </div>
    <div class="cheio" (pointerdown)="Freio()">
        <div class="cheio" (pointerup)="Freio()">
            <!--
            <div id="tela">
                <div id="TelaEsquerda"></div>
                <div id="TelaDireita"></div>
            </div>
            -->
        </div>
     
    </div>
</div>


