<div class="cheio">
    <div id="menuPause">
        <p>Debug</p>
        <p>
           <!-- |Jogador| X: {{this.jogador.position.x}}, Z: {{this.jogador.position.z}}, Vel: {{this.VelocidadeMundo()}}-->
        </p>
        <p>
            |Pessoas| Rot:{{this.teste1}}
        </p>
        <p>
            |Numero de Batidas| Total: {{this.nBatidas}}
        </p>
        <p>
            |Tipo de Veiculo| Carro: {{this.configs.isCar}}, Onibus: {{!this.configs.isCar}}
        </p>
        <p>
            |Timer| Tempo1: {{this.tempo1}}, Tempo2: {{this.tempo2}}, TempoShow {{this.tempoShow}}
        </p>

        <button class="botaoNormi" (pointerdown)="TrocarVeiculo()">
            Veiculo
        </button>
        <ion-back-button text="Menu" defaultHref="/selecao"></ion-back-button>
    </div>

    <div class="contador">
        {{this.tempoShow}}
    </div>

    <div id="pause" (pointerdown)="Pausar()"></div>

    <div id="telaLoading">
        <div id=logo></div>
    </div>

    <div id="fimDeJogo">
        <p> </p>
        <h1>Fim De Jogo</h1>
        <p>(Tempo Esgotado)</p>
        <p>
            |Pessoas e Batidas|
        </p>
        <p>
            Entregues: {{this.nPessoasEntregues}} | Perdidas: {{this.nPessoasPerdidas}} | Batidas: {{this.nBatidas}}
        </p>
        <div class="botaoAnormi" (pointerdown)="Reniciar()"></div>
        
    </div>

    <div class="infos">
        <div id="infosEsquerda">{{this.atualPessoas}} / {{this.maxPessoas}}</div>
        <div id="infosDireita">{{quilometragem}}</div>
    </div>
    
    <div class="cheio" (pointerdown)="Freio()">
        <div class="cheio" (pointerup)="Freio()">
            <!--
            <div id="tela">
                <div id="TelaEsquerda"></div>
                <div id="TelaDireita"></div>
            </div>
            -->
        </div>
     
    </div>

</div>