#tela{
  display: grid;
  grid-template-columns: repeat(1, 50%);
  grid-auto-columns: 50%;
  height: 100%;
  width: 100%;
  
}
#TelaEsquerda{
  height: 100%;
  width: 100%;
  grid-row: 1;
  grid-column: 1;
}

#TelaDireita{
  height: 100%;
  width: 100%;
  grid-row: 1;
  grid-column: 2;
}

.cheio{
  height: 100%;
  width: 100%;
}
.meio{
  height: 50%;
  width: 50%;
  background: red;
}

#logo
{
  position: fixed;

  height: 100%;
  width: 100%;

  background: url("../../assets/Logo.png") center;
  background-size: 60%, 60%;
  background-repeat: no-repeat;
}

.infos{
  height: 10%;
  width: 100%;
  background-image: url();
  text-align: center;
  margin: 0;
  background: url("../../assets/Borda.png") top;
  background-size: 6%, 10%;
  
}

.contador
{
  width: 10%;
  height: 20%;
  margin: 0 auto;
  left: 45%;
  position: fixed;
  font-size: xx-large;
  text-align-last: center;
  padding-top: 2.5%;
  background: url("../../assets/BotaoVazio.png");
  background-size: 100%, 100%;
}

// Sistema de pause
#pause
{
  width: 10%;
  height: 20%;
  //background-color: red;
  background: url('../../assets/BotaoPause.png');
  background-size: 100%, 100%;
  margin: 0 auto;
  left: 90%;
  position: fixed;
  font-size: x-large;
  text-align-last: center;
  padding-top: 2.5%;
}
#menuPause
{
  pointer-events: none;
  visibility: hidden;
  height: 90%;
  width: 100%;
  top:10%;
  position: fixed;
  background-color: rgb(52, 56, 58);
}

// Sistema de Fim de Jogo
#fimDeJogo
{
  height: 100%;
  width: 100%;

  color: cyan;
  text-align: center;

  background-color: rgb(58, 58, 58);

  visibility: hidden;
  position: fixed;
}


#infosEsquerda
{
  height: 8%;
  width: 20%;
  position: fixed;
  padding-top: 0.5%;
  visibility: hidden;

  top: 0%;
  left: 24%;

  background: url("../../assets/Infos.png");
  background-size: 19%, 20%;
  color: rgb(63, 245, 230);

  border-radius: 2px;
  border-width: 1px;;
  border-style: solid;
  border-color: black;
  
}
#infosDireita
{
  height: 8%;
  width: 20%;
  position: fixed;
  padding-top: 0.5%;
  visibility: hidden;

  top: 0%;
  left: 56%;

  background: url("../../assets/Infos.png");
  background-size: 19%, 20%;
  color: rgb(63, 245, 230);

  border-radius: 2px;
  border-width: 1px;;
  border-style: solid;
  border-color: black;
}

.game
{
  height: 10%;
  width: 100%;
  background-color: rgb(255, 245, 110);
}

.botaoAnormi
{
  width: 10%;
  height: 20%;


  left: 45%;
  position: fixed;

  background: url("../../assets/BotaoVazio.png");
  background-size: 100%, 100%;
}
.botaoNormi
{
  height: 10%;
  width: 10%;
}

#telaLoading
{
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  visibility: visible;
  position: fixed;
}