

<div class="cheio">
    <div id="menuPause">
        <p>Debug</p>
        <p>
            |Jogador| X: {{this.jogador.position.x}}, Z: {{this.jogador.position.z}}, Vel: {{this.VelocidadeMundo()}}
        </p>
        <p>
            |Parada| X:{{this.parada.position.x}}, Z: {{this.parada.position.z}}
        </p>
        <p>
            |Numero de Batidas| Total: {{this.nBatidas}}
        </p>
        <p>
            |Tipo de Veiculo| Carro: {{this.tipoVeiculo}}, Onibus: {{!this.tipoVeiculo}}
        </p>
        <p>
            |Timer| Tempo1: {{this.tempo1}}, Tempo2: {{this.tempo2}}, TempoShow {{this.tempoShow}}
        </p>

        <button class="botaoNormi" (pointerdown)="TrocarVeiculo()">
            Veiculo
        </button>
    </div>

    <div class="contador">
        {{this.tempoShow}}
    </div>
    
    <div class="pause" (mousedown)="Pausar()">
        Pause
    </div>
    <div class="infos">
        <div id="infosEsquerda">{{this.atualPessoas}} / {{this.maxPessoas}} | t: {{this.currentTime}}</div>
        <div id="infosDireita">{{quilometragem}}</div>
    </div>
    <div class="cheio" (pointerdown)="Freio()">
        <div class="cheio" (pointerup)="Freio()">
            <!--
            <div id="tela">
                <div id="TelaEsquerda"></div>
                <div id="TelaDireita"></div>
            </div>
            -->
        </div>
     
    </div>

    




</div>


