//


.Fundo
{
    background: url("../../assets/Fundo.png");
    background-size: 100%, 100%;
    height: 100%;
    width: 100%;
    position: fixed;
}
.centro
{
    background-color: red;
    height: 60%;
    width: 50%;
}

.Logo
{
    position: fixed;
    height: 50%;
    width: 30%;

    left: 35%;
    top: 5%;

    background: url("../../assets/logo.png");
    background-size: 100%, 100%;
}


#Play
{
    position: fixed;
    left: 22.5%;
    top: 50%;
    height: 30%;
    width: 15%;
    background: url("../../assets/BotaoPlay.png") top;
    background-repeat:no-repeat;
    background-size: 100%, 100%;
}
#Opcoes
{
    position: fixed;
    left: 42.5%;
    top: 50%;
    height: 30%;
    width: 15%;
    background: url("../../assets/BotaoOpcoes.png") top;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}
#Creditos
{
    position: fixed;
    left: 62.5%;
    top: 50%;
    height: 30%;
    width: 15%;
    background: url("../../assets/BotaoVazio.png") top;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}