
<div class = "Fundo"></div>

<ion-back-button class="botaoVoltar" icon = null defaultHref="/menu"></ion-back-button>

<div class="centralizado">
  <ion-item class="Opcao" fill=clear>
    <ion-label class="Opcao" fill=clear>Efeitos Sonoros</ion-label>
    <ion-toggle class="Opcao" fill=clear>s</ion-toggle>
  </ion-item>
</div>

<!--
<ion-content class="centralizado">
  <ion-item class="Opcao">
    <ion-label class="Opcao">Efeitos Sonoros</ion-label>
    <ion-toggle class="Opcao">s</ion-toggle>
  </ion-item>
  <ion-item class="Opcao">
    <ion-label class="Opcao">Efeitos Sonoros</ion-label>
    <ion-toggle class="Opcao">s</ion-toggle>
  </ion-item>
</ion-content>
-->
